<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2 class="title">Add Employee</h2>

        <div class="card">
            <form method="POST">
                <p><span class="label">Employee Name:</span></p>
                <input type="text" name="name" required><br><br>

                <p><span class="label">Basic Salary:</span></p>
                <input type="number" name="basic_salary" required><br><br>

                <button type="submit" class="btn">Add Employee</button>
            </form>
        </div>

        <a href="/" class="btn">Back to Home</a>
    </div>
</body>
</html>
